* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; */
  font-family: sans-serif;
}

section.panel {
  display: grid;
  place-content: center;
  min-height: 100vh;
  /* min-width: 350px;*/
}

section.panel.hidden {
  display: none;
}

section.initial {
  min-height: 100vh;
  background-color: blue;
}

section.play {
  padding: 0.5rem;
  /*   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 1rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  background-color: rgb(221, 120, 120);
}

button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: lightgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  padding: 1rem;
  border: none;
  box-shadow: 2px 2px 5px black;
}

button.crash {
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.hihat-close {
  background-image: url(/img/closed-hihat.png);
}
button.hihat-open {
  background-image: url(/img/open-hihat.png);
}
button.kick {
  background-image: url(/img/kick.png);
}
button.ride {
  background-image: url(/img/closed-hihat.png);
}
button.snare {
  background-image: url(/img/snare.png);
}
button.tom-high {
  background-image: url(/img/snare.png);
}
button.tom-low {
  background-image: url(/img/snare.png);
}
button.tom-mid {
  background-image: url(/img/snare.png);
}
