* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

section.panel {
  border: 1rem solid white;
  display: grid;
  place-content: center;
}

section.panel.hidden {
  display: none;
}

section.initial {
  min-height: 100vh;
  background-color: blue;
}

section.play {
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  max-width: 600px;
  align-content: space-around;
  gap: 1rem;
  background-color: rgb(221, 120, 120);
  border: 1rem solid gray;
}

section.playRec {
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  max-width: 600px;
  align-content: space-around;
  gap: 1rem;
  background-color: rgb(221, 120, 120);
  border: 1rem solid gray;
  background-color: red;
}
button {
  border-radius: 50%;
  background-color: dodgerblue;
  width: 5rem;
  height: 5rem;
  box-shadow: 1 rem;
}
